@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    margin: 50px 0;
    font-size: 50px;
}

.top-buffer {
    margin-top: 20px;
}

#library {
    margin-bottom: 20px;
}